asgiref>=3.8.1
backports.tarfile
bcrypt
build==1.3.0
certifi>=2017.4.17
cffi>=2.0.0
charset-normalizer>=2,<4
crispy-bootstrap5==2025.6
cryptography>=2.0
defusedxml
-e git+https://github.com/SamCzarski/DevWorksDjangoLib.git@9c7b21a58ebdfcdd89acb272a1678448358651a8#egg=DevWorksDjangoLib
Django>=4.2
django-cors-headers
django-crispy-forms
django-csp
django-encrypted-model-fields==0.6.5
django-extensions
django-filter
django-log-request-id==2.1.0
django-password-validators==1.7.3
django-ratelimit==4.1.0
django-redis==6.0.0
django-simple-history==3.10.1
djangorestframework
djangorestframework-csv==3.0.2
docutils>=0.21.2
gunicorn==23.0.0
id
idna>=2.5,<4
importlib_metadata>=4.11.4
jaraco.classes
jaraco.context
jaraco.functools
jeepney>=0.6
jwcrypto==1.5.6
keyring>=21.2.0
markdown-it-py>=2.2.0
MarkupSafe>=2.1.1
mdurl~=0.1
more-itertools
nh3>=0.2.14
oauthlib>=3.3.1
packaging>=24.0
PGPy==0.6.0
psycopg2-binary
pyasn1==0.6.1
pycparser
pydash
Pygments>=2.13.0,<3.0.0
PyJWT>=2.10.1
pyOpenSSL
pyproject_hooks
python-json-logger
python3-openid>=3.2.0
PyYAML
readme_renderer>=35.0
redis
requests>=2.32.5,<3.0.0
requests-oauthlib>=2.0.0
requests-toolbelt>=0.8.0,!=0.9.0
rfc3986>=1.4.0
rich>=12.0.0
SecretStorage>=3.2
social-auth-app-django
social-auth-core~=4.4
sqlparse>=0.3.1
twine==6.2.0
typing_extensions
urllib3>=1.21.1,<3
Werkzeug==3.1.3
zipp>=3.20
