{% extends 'simple-user-page.html' %}

{% block title %}
	Delete Your Account
{% endblock %}

{% block page %}

	<div class="my-2">
		Primary Email: <strong>{{ user.email }}</strong>
	</div>

	<p>
		Are you sure you want to delete your account?<br/>
		Please acknowledge the following points to proceed
	</p>

	<div class="text-center my-3">
		<h4>I confirm that</h4>
	</div>

	{% if invalid %}
		<div class="text-danger m-1">
			You must confirm below to delete the account
		</div>
	{% endif %}

	<form method="post">
		{% csrf_token %}

		<label class="my-2">
			<input type="checkbox" name="disclaimer_data_and_access"/>
			My Account info will be permanently deleted and my access will be revoked.
		</label>

		<label class="my-2">
			<input type="checkbox" name="disclaimer_resume_steps"/>
			Account deletion is permanent. If I need to use DevWorks again, I must create a new account.
		</label>

		<button
		  onClick="this.form.submit(); this.disabled=true;"
		  class="btn btn-danger my-4 w-100"
		  type="submit">
			Delete My Account
		</button>

	</form>

{% endblock %}