{% extends 'simple-user-page.html' %}
{% load crispy_forms_tags %}

{% block title %}
	Reset Password
{% endblock %}

{% block page %}
	{% if validlink %}
		<form method="post">
			{% csrf_token %}
			{{ form | crispy }}

			<button
			  type="submit"
			  class="btn btn-primary w-100">
				Reset Password
			</button>
		</form>
	{% else %}
		<p>
			The password reset link was invalid, possibly because you have already reset it.
			Please request a new password reset.
		</p>
	{% endif %}
{% endblock %}
