<div id="cookielaw" class="w-100">
	<div class="container-fluid">
		<div class="row">

			<div class="col-md-10">
				This website uses cookies to improve your experience and enable features as outlined in our
				<s><a>privacy policy</a></s> (privacy policy is in development).
				By continuing to use this site or by clicking "Accept", you agree to the storing of cookies on your
				device.
			</div>

			<div class="col-md-2 pt-3 pt-md-0 text-end">
				<button
				  class="btn btn-primary "
				  id="cookielaw_accept"
				  aria-label="Accept cookies">
					Accept
				</button>
			</div>
		</div>
	</div>
</div>